<%= form_for @event, :html => { :id => 'event_form' } do |f| %>
<p>
<%=f.label :title %>
<br/>
<%=f.text_field :title %>
</p>
<p>
  <%=f.label :description %>
  <br/>
  <%=f.text_area :description, :rows => 2, :cols => 30 %>
</p>
<p>
  <%=f.label :starttime, 'Start Time' %>
  <br/>
  <%=f.datetime_select :starttime %>
</p>
<p>
  <%=f.label :endtime, 'End Time' %>
  <br/>
  <%=f.datetime_select :endtime %>
</p>
<p>
 <%=f.label :rate, 'Rate ($)' %>
 <%=f.text_field :rate %>
</p>
<p>
 <%=f.label :holiday_surcharge, 'Holiday Surcharges?' %>
 <%=f.check_box :holiday_surcharge %>
</p>
<p>
 <%=f.label :allow_discount, 'Allow Discounts?' %>
 <%=f.check_box :allow_discount %>
</p>
<p>
 <%=f.label :taxable, 'Taxable?' %>
 <%=f.check_box :taxable %>
</p>

<p>
Dogs to walk: <br>
<table id="myTable">
    <th>Dog Name</th>
    <th>Dog Owner</th>
    <th>Address</th>
    <th>Phone #</th>
    <th>Spayed/Neutered</th>
    <th>Notes</th>
    <tr>
        <td>
            <input type="text" name="dogs[dog1][name]" value="" />
        </td>
        <td>
            <input type="text" name="dogs[dog1][owner]" value="" />
        </td>
        <td>
            <input type="text" name="dogs[dog1][address]" value="" />
        </td>
        <td>
            <input type="text" name="dogs[dog1][phoneNum]" value="" />
        </td>
        <td>
            <input type="hidden" name="dogs[dog1][fixed]" value="0" />
            <input type="checkbox" name="dogs[dog1][fixed]" value="1" />

        </td>
        <td>
            <input type="text" name="dogs[dog1][notes]" value="" />
        </td>
        <td>
          <input type="button" value="Delete" onclick="deleteRow(this)"/>
        </td>
    </tr>
</table>
<a id="btnAdd">Add a new dog</a>
</p>
<script type="text/javascript">
  function deleteRow(btn) {
    var row = btn.parentNode.parentNode;
    row.parentNode.removeChild(row);
  }
  var form_row_ctr = 1;
  $('#btnAdd').on('click', function () {
      // make sure current row is not empty, at least contains dog name, owner, address, phone #
      form_row_ctr++;
      var dogName = "dogs[dog" + form_row_ctr + "][name]";
      var dogOwner = "dogs[dog" + form_row_ctr + "][owner]";
      var address = "dogs[dog" + form_row_ctr + "][address]";
      var phoneNum = "dogs[dog" + form_row_ctr + "][phoneNum]";
      var fixed = "dogs[dog" + form_row_ctr + "][fixed]";
      var notes = "dogs[dog" + form_row_ctr + "][notes]";
      var newTr = '<tr><td><input type="text" name=' + dogName + ' /></td><td><input type="text" name=' + dogOwner + ' /></td><td><input type="text" name=' + address + ' /></td><td><input type="text" name=' + phoneNum + ' /></td></td><td><input type="hidden" name=' + fixed + ' value="0" /><input type="checkbox" name=' + fixed + ' value="1" /></td><</td><td><input type="text" name=' + notes + ' /><td><input type="button" value="Delete" onclick="deleteRow(this)"/></td></tr>';
      $('#myTable').append(newTr);
  });
</script>



<%=f.hidden_field :commit_button, :value => ""%>
<p>
  <%if @event.event_series -%>
  <%=f.submit 'Update Only This Occurrence', :onclick => "document.getElementById('event_commit_button').value = this.value"%>
  <%=f.submit 'Update All Occurrence', :onclick => "document.getElementById('event_commit_button').value = this.value"%>
  <%=f.submit 'Update All Following Occurrence', :onclick => "document.getElementById('event_commit_button').value = this.value"%>
  <%else-%>
  <%=f.submit 'Update', :onclick => "document.getElementById('event_commit_button').value = this.value"%>
  <%end-%>

  <span id = "updating_events" class="spinner" style = "display:none;">Updating, Please wait...</span>
</p>
<%end %>