<%= form_for @event ||= FullcalendarEngine::Event.new, :html => { id: 'event_form' } do |f| %>
<%=f.label :title %>
<br/>
<%=f.text_field :title %>
<img id="form-dog-profile-pic" src="http://dogfriendlydirectory.com/wp-content/uploads/photo-gallery/cute-dog-pictures-for-kids.jpg" alt="Dog" style="width:150px;height:150px;" align="right">
<p>
  <%=f.label :description %>
  <br/>
  <%=f.text_area :description, :rows => 4, :cols => 30 %>
</p>
<p>
  <%=f.label :starttime, 'Start Time' %>
  <br/>
  <%=f.datetime_select :starttime %>
</p>
<p>
  <%=f.label :endtime, 'End Time' %>
  <br/>
  <%=f.datetime_select :endtime %>
</p>
<p>
  Repeats on: <br>
  <%=f.check_box :sunday %>
  Sun
  <%=f.check_box :monday %>
  Mon
  <%=f.check_box :tuesday %>
  Tue
  <%=f.check_box :wednesday %>
  Wed
  <%=f.check_box :thursday %>
  Thu
  <%=f.check_box :friday %>
  Fri
  <%=f.check_box :saturday %>
  Sat
</p>
<p>
  <%=f.submit %> <span id = "creating_events" class="spinner" style = "display:none;">Creating, Please wait...</span>
</p>
<%end %>